<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Movie Theater</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <header>
      <h1>Movie Theater</h1>
      <nav>
        <a href="{{ url_for('main.index') }}">Home</a>
        <a href="{{ url_for('auth.login') }}">Log in</a>
        <a href="{{ url_for('auth.signup') }}">Sign up</a>
      </nav>
    </header>
    <section class="content">
      {% block content %}{% endblock %}
      {% if current_user.is_authenticated: %}
        <div>User: {{current_user.name}}</div>
        <div><a href="{{ url_for('auth.logout') }}">Logout</a></div>
      {% endif %}
    </section>
    <footer>Developed for Web applications</footer>
  </body>
</html>
