<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Movie Theater</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <header>
      <h1>Movie Theater</h1>
      <nav>
        <a href="{{ url_for('main.index') }}">Home</a>
        <a href="{{ url_for('auth.login') }}">Log in</a>
        <a href="{{ url_for('auth.signup') }}">Sign up</a>
      </nav>
    </header>
    <section class="content">{% block content %}{% endblock %}</section>
    <footer>Developed for Web applications</footer>
  </body>
</html>
