{% extends 'base.html' %} {% block content %}
<h2>Log in</h2>
<form action="{{ url_for('auth.login') }}" method="post">
  <div>
    <label>Email: <input type="email" name="email" required /></label>
  </div>
  <div>
    <label>Password: <input type="password" name="password" required /></label>
  </div>
  {% with messages = get_flashed_messages() %}
    {% for message in messages %}
      <div class="notification">{{message}} </div>
   {% endfor %}
  {% endwith %}
  <div><input type="submit" value="Login" /></div>
</form>
{% endblock %}
